@media screen and (max-width: 1040px) {
    .friend {
        &__container {
            align-items: flex-end;
        }

        &__box {
            align-self: flex-start;
        }

        &__puppy {
            max-width: 450px;
        }
    }
}

@media screen and (max-width: 880px) {
    .donation {
        &__container {
            flex-direction: column-reverse;
            align-items: center;
            max-width: 505px;
            min-height: 603px;
        }
    }
}

//* TABLET
@media screen and (max-width: 794px) {
    .container {
        max-width: 708px;
    }
    .header {
        padding: 15px;
    }
    section {
        padding: 0px 15px;
    }
    .friend {
        min-height: 1165px;
        &__container {
            flex-direction: column;
            align-items: center;
            min-height: 1015px;
        }
        &__puppy {
            position: relative;
            left: 70px;
            max-width: 569px;
            @media screen and (max-width: 710px) {
                left: 0;
            }
        }
        &__box {
            align-self: center;
            top: 0;
            min-width: auto;
        }
    }

    .about {
        padding-top: 80px;
        padding-bottom: 100px;
        min-height: 1048px;
        &__container {
            max-width: 430px;
            min-height: 868px;
            flex-direction: column-reverse;
        }
        &__title {
            max-width: 370px;
        }
    }
    .modal {
        &__description {
            font-size: 13px;
            letter-spacing: 0.78px;
        }
        &__container {
            padding-right: 10px;
        }
    }
    .help {
        min-height: 779px;
        &__container {
            min-height: 599px;
        }
        &__icons {
            row-gap: 30px
        }
    }
}

@media screen and (max-width: 611px) {
    .footer {
        min-height: 809px;
        &__title {
            @include h3-mobile;
            text-align: center;
        }
        &__info {
            align-self: center;
            &:first-child {
                min-height: 208px;
            }
            &:last-child {
                min-height: 222px;
            }
        }
        &__container {
            min-height: 779px;
        }
        &__box {
            flex-direction: column;
            min-height: 470px;
            align-items: center;
        }
        &__puppy {
            max-width: 260px;
        }
    }
    .modal {
        padding: 0px 30px;
        text-align: center;
        &__button {
            right: -30px;
        }
        &__container {
            padding: 10px;
            justify-content: center;
            min-height: 341px;
        }
        &__info {
            align-items: center;
            min-height: 321px;
        }
        &__description {
            text-align: left;
        }
        &__picture {
            display: none;
        }
        &__list {
            min-height: 87px;
        }
    }
}

@media screen and (max-width: 545px) {
    .burger {
        display: flex;
        z-index: 51;
    }
    .navigation {
        position: fixed;
        top: 0;
        right: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        height: 100%;
        background: $color-dark-3xl;
        padding: 0px 15px;
        transition: right .5s ease;
        &__element {
            @include paragraph-mobile-menu;
            height: auto;
        }
        &__container {
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 243px;
            min-height: 327px;
        }
        &.active {
            right: 0;
        }
    }
}

@media screen and (max-width: 438px) {
    .pets {
        min-height: 791px;
        &__container {
            min-height: 707px;
        }
        &__title {
            @include h3-mobile;
        }
    }
    .slider {
        max-width: 270px;
        min-height: 507px;
        flex-direction: column;
        position: relative;
        &__button {
            position: absolute;
            bottom: 0;
            &--left {
                left: 43px;
            }
            &--right {
                right: 43px;
            }
        }
    }
}

//* MOBILE
@media screen and (max-width: 382px) {
    .help {
        min-height: 745px;
        padding: 42px 10px;
        &__container {
            min-height: 661px;
        }
        &__title {
            @include h3-mobile;
        }
        &__element {
            min-height: 87px;
            max-width: 130px;
            & h4 {
                @include h5;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .donation {
        padding: 42px 10px;
        &__container {
            max-width: 300px;
            min-height: 458px;
        }
        &__box {
            min-width: 0;
            min-height: 281px;
            align-items: center;
            text-align: center;
        }
        &__title {
            @include h3-mobile;
            &--sub {
                letter-spacing: 0;
                font-size: 15px;
                font-weight: 400;
                line-height: 160%;
            }
        }
        &__card {
            max-width: 281px;
            &--number {
                @include h5;
            }
        }
        &__description {
            max-width: 280px;
            text-align: justify;
        }
    }
}

@media screen and (max-width: 320px) {
    .container {
        max-width: 300px;
    }
    .header {
        padding: 15px 10px;
    }
    section {
        padding: 0px 10px;
    }
    .header{
        &__container {
            max-width: 280px;
        }
    }
    .friend {
        min-height: 823px;
        &__container {
            min-height: 673px;
        }
        &__puppy {
            left: 0;
            max-width: 260px;
            align-self: flex-end;
        }
        &__box {
            align-items: center;
            text-align: center;
            min-height: 296px;
            align-self: flex-start;
        }
        &__title {
            @include h3-mobile;
            max-width: 300px;            
        }
        &__description {
            max-width: 300px;
        }
    }

    .about {
        padding-top: 42px;
        padding-bottom: 42px;
        min-height: 974px;
        &__container {
            max-width: 300px;
            min-height: 890px;
            flex-direction: column-reverse;
        }
        &__title {
            text-align: center;
            width: 100%;
            @include h3-mobile;
        }
        &__image {
            max-width: 260px;
        }
        &__content {
            min-height: 494px;
        }
    }
}