@import '_null';
@import '_ui';

body {
    font-family: 'Georgia';
    @include h2;
    &.lock {
        overflow: hidden;
    }
}

#app {
    width: 100%;
    height: 100%;
    position: relative;
}
.wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
main {
    flex: 1 1 auto;
}
header, footer {
    flex: 0 0 auto;
}
section {
    padding: 0px 20px;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    width: 100%;
    max-width: 184px;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    gap: 10px;
    cursor: pointer;
    position: relative;
    z-index: 51;
    &__title {
        color: $color-primary;
        @include logo_title;
        max-width: 184px;
    }
    &__subtitle {
        color: $color-light-xl;
        @include logo_subtitle;
        max-width: 179px;
    }
}
::-webkit-scrollbar {
    width: 0;
}
.burger {
    width: 30px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: transform .5s ease;
    &::before, &::after {
        content: '';
        width: 100%;
        background: $color-primary;
        height: 2px;
    }
    & span {
        width: 100%;
        background: $color-primary;
        height: 2px;
    }
    &.active {
        transform: rotate(-90deg);
    }
    display: none;
}

//* HEADER
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
    min-height: 90px;
    padding: 15px 20px;
    transition: background .3s ease;
    &.active {
        background: url('../img/noise_transparent.png'), #5B483A;
    }
    &__container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: relative;
        gap: 12px;
    }
}
.navigation {
    width: 100%;
    max-width: 443px;
    min-height: 27px;
    display: flex;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
    }
    &__element {
        position: relative;
        height: 100%;
        cursor: pointer;
        @include paragraph-l;
        color: $color-dark-s;
        transition: color .4s ease-in;
        white-space: nowrap;
        &:after {
            content: '';
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 3px;
                border-radius: 24px;
                background: $color-primary;
                transition: width .5s ease;
        }
        &.active {            
            color: $color-light-s;
            &::after {
                width: 100%;
            }
        }
        &:hover {
            color: $color-light-s;
        }
    }
}

//* FRIEND
.friend {
    width: 100%;
    min-height: 908px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url('../img/noise_transparent.png'), radial-gradient(549.89% 73.65% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 10px;
        min-height: 728px;
        position: relative;
    }
    &__box {
        position: relative;
        width: 100%;
        max-width: 460px;
        min-width: 312px;
        min-height: 322px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 12px;
        top: 163px;
    }
    &__title {
        max-width: 310px;
        @include h2;
        color: $color-light-xl;
    }
    &__description {
        @include paragraph-l;
        color: $color-dark-s;
    }
    &__button {
        width: 100%;
        max-width: 207px;
        min-height: 52px;
        border-radius: 100px;
        color: $color-dark-3xl;
        font-size: 17px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1.02px;
        background: $color-primary;
        transition: background .4s ease;
        &:hover {
            background: $color-primary-light;
        }
    }
    &__puppy {
        width: 100%;
        max-width: 698px;
        object-fit: contain;
    }
}


//* ABOUT
.about {
    width: 100%;
    min-height: 588px;
    padding: 80px 20px 100px;
    background: $color-light-xl;
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        max-width: 850px;
        min-height: 408px;
    }
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        max-width: 430px;
        min-height: 380px;
    }
    &__title {
        @include h3;
        color: $color-dark-l;
    }
    &__text {
        @include paragraph-l;
        color: $color-dark-l;
    }
    &__image {
        width: 100%;
        max-width: 300px;
        object-fit: cover;
    }
}

//* PETS
.pets {
    width: 100%;
    min-height: 877px;
    padding: 80px 20px 100px;
    background: $color-light-l;
    &__container {
        height: 100%;
        width: 100%;
        min-height: 697px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        text-align: center;
        max-width: 400px;
        @include h3;
        color: $color-dark-l;
    }
    &__button {
        width: 100%;
        max-width: 261px;
        min-height: 52px;
        border-radius: 100px;
        background: $color-primary;
        color: $color-dark-3xl;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1.02px;
        font-size: 17px;
        transition: background .4s ease;
        &:hover {
            background: $color-primary-light;
        }
    }
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 12px;
    &__container {
        float: right;
        width: 100%;
        max-width: 990px;
        min-height: 435px;
        overflow: hidden;
        position: relative;
    }
    &__content {
        position: relative;
        width: fit-content;
        display: flex;
        gap: 90px;
        left: 0px;
        transition: left .5s ease;
    }
    &__card {
        float: left;
        width: 100%;
        max-width: 270px;
        min-height: 435px;
        background: $color-light-s;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
            .pets__learnmore {
                background: $color-primary-light;
                border-color: $color-primary-light;
            }
        }
    }
    &__button {
        position: relative;
        z-index: 2;
        min-width: 52px;
        min-height: 52px;
        border-radius: 50%;
        background: none;
        border: 2px solid $color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background .4s ease, border-color .4s ease, filter .4s ease;
        &:hover {
            border-color: $color-primary-light;
            background: $color-primary-light;
        }
        &--left {
            & img {
                transform: rotate(180deg);
            }
        }
        &:disabled {
            filter: grayscale(1);
        }
    }
}

.pets {
    &__name {
        color: $color-dark-l;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 1.2px;
    }
    &__learnmore {
        width: 100%;
        max-width: 187px;
        min-height: 52px;
        background: none;
        border-radius: 100px;
        border: 2px solid $color-primary;
        color: $color-dark-3xl;
        font-size: 17px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: 1.02px;
        transition: background .4s ease, border-color .4s ease;
    }
}


//* FOOTER
.footer {
    width: 100%;
    position: relative;
    min-height: 350px;
    display: flex;
    background: url("../img/noise_transparent.png"), radial-gradient(549.89% 73.65% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),#211F20;
    padding: 0px 20px;
    padding-top: 16px;
    &__title {
        @include h3;
        color: $color-light-xl;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-content: space-between;
        min-height: 234px;
        max-width: 280px;
    }
    &__box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 740px;
        gap: 12px;        
    }
    &__text {
        @include h4;
        color: $color-primary;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
    &__container {
        min-height: 310px;
        position: relative;
        align-self: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        @media screen and (max-width: 923px) {
            min-height: 609px;
            flex-direction: column;
            align-items: center;
        }
        gap: 12px;
    }
    &__puppy {
        width: 100%;
        max-width: 300px;
    }
}

@import '_adaptive';