/* ----------------------------- NULL ---------------------------------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------------------- NULL ---------------------------------- */
body {
  font-family: "Georgia";
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
}
body.lock {
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

header, footer {
  flex: 0 0 auto;
}

section {
  padding: 0px 20px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 100%;
  max-width: 184px;
  min-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  gap: 10px;
  cursor: pointer;
  position: relative;
  z-index: 51;
}
.logo__title {
  color: #F1CDB3;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 1.92px;
  font-weight: 400;
  max-width: 184px;
}
.logo__subtitle {
  color: #FFFFFF;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: normal;
  letter-spacing: 1.3px;
  font-weight: 400;
  max-width: 179px;
}

::-webkit-scrollbar {
  width: 0;
}

.burger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: none;
}
.burger::before, .burger::after {
  content: "";
  width: 100%;
  background: #F1CDB3;
  height: 2px;
}
.burger span {
  width: 100%;
  background: #F1CDB3;
  height: 2px;
}
.burger.active {
  transform: rotate(-90deg);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  min-height: 90px;
  padding: 15px 20px;
  transition: background 0.3s ease;
}
.header.active {
  background: url("../img/noise_transparent.png"), #5B483A;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 12px;
}

.navigation {
  width: 100%;
  max-width: 443px;
  min-height: 27px;
  display: flex;
}
.navigation__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}
.navigation__element {
  position: relative;
  height: 100%;
  cursor: pointer;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;
  font-weight: 400;
  color: #CDCDCD;
  transition: color 0.4s ease-in;
  white-space: nowrap;
}
.navigation__element:after {
  content: "";
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  border-radius: 24px;
  background: #F1CDB3;
  transition: width 0.5s ease;
}
.navigation__element.active {
  color: #FAFAFA;
}
.navigation__element.active::after {
  width: 100%;
}
.navigation__element:hover {
  color: #FAFAFA;
}

.friend {
  width: 100%;
  min-height: 908px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: url("../img/noise_transparent.png"), radial-gradient(237.5% 111.8% at 0% 0%, #5B483A 0%, #262425 100%);
}
.friend__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  min-height: 728px;
  position: relative;
}
.friend__box {
  position: relative;
  width: 100%;
  max-width: 460px;
  min-width: 312px;
  min-height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  top: 163px;
}
.friend__title {
  max-width: 310px;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0;
  font-weight: 400;
  color: #FFFFFF;
}
.friend__description {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;
  font-weight: 400;
  color: #CDCDCD;
}
.friend__button {
  width: 100%;
  max-width: 207px;
  min-height: 52px;
  border-radius: 100px;
  color: #292929;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.02px;
  background: #F1CDB3;
  transition: background 0.4s ease;
}
.friend__button:hover {
  background: #FDDCC4;
}
.friend__puppy {
  width: 100%;
  max-width: 698px;
  -o-object-fit: contain;
     object-fit: contain;
}

.about {
  width: 100%;
  min-height: 588px;
  padding: 80px 20px 100px;
  background: #FFFFFF;
}
.about__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  max-width: 850px;
  min-height: 408px;
}
.about__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 430px;
  min-height: 380px;
}
.about__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  font-weight: 400;
  color: #545454;
}
.about__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0;
  font-weight: 400;
  color: #545454;
}
.about__image {
  width: 100%;
  max-width: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pets {
  width: 100%;
  min-height: 877px;
  padding: 80px 20px 100px;
  background: #F6F6F6;
}
.pets__container {
  height: 100%;
  width: 100%;
  min-height: 697px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pets__title {
  text-align: center;
  max-width: 400px;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 2.1px;
  font-weight: 400;
  color: #545454;
}
.pets__button {
  width: 100%;
  max-width: 261px;
  min-height: 52px;
  border-radius: 100px;
  background: #F1CDB3;
  color: #292929;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.02px;
  font-size: 17px;
  transition: background 0.4s ease;
}
.pets__button:hover {
  background: #FDDCC4;
}

.slider__container {
  position: relative;
  width: 100%;
  max-width: 990px;
  overflow: hidden;
}
.slider__content {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 90px;
  position: relative;
  left: 0px;
  transition: left 0.5s ease;
}
.slider__card {
  width: 270px;
  min-height: 435px;
  gap: 90px;
}

.pets__name {
  color: #545454;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.pets__learnMore {
  width: 100%;
  max-width: 187px;
  min-height: 52px;
  background: none;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  color: #292929;
  font-size: 17px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.02px;
}

@media screen and (max-width: 1040px) {
  .friend__container {
    align-items: flex-end;
  }
  .friend__box {
    align-self: flex-start;
  }
  .friend__puppy {
    max-width: 450px;
  }
}
@media screen and (max-width: 794px) {
  .container {
    max-width: 708px;
  }
  .header {
    padding: 15px;
  }
  section {
    padding: 0px 15px;
  }
  .friend {
    min-height: 1165px;
  }
  .friend__container {
    flex-direction: column;
    align-items: center;
    min-height: 1015px;
  }
  .friend__puppy {
    position: relative;
    left: 70px;
    max-width: 569px;
  }
}
@media screen and (max-width: 794px) and (max-width: 710px) {
  .friend__puppy {
    left: 0;
  }
}
@media screen and (max-width: 794px) {
  .friend__box {
    align-self: center;
    top: 0;
    min-width: auto;
  }
  .about {
    padding-top: 80px;
    padding-bottom: 100px;
    min-height: 1048px;
  }
  .about__container {
    max-width: 430px;
    min-height: 868px;
    flex-direction: column-reverse;
  }
  .about__title {
    max-width: 370px;
  }
}
@media screen and (max-width: 545px) {
  .burger {
    display: flex;
    z-index: 51;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    height: 100%;
    background: #292929;
    padding: 0px 15px;
    transition: right 0.5s ease;
  }
  .navigation__element {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 32px;
    line-height: 160%;
    letter-spacing: 0;
    font-weight: 400;
    height: auto;
  }
  .navigation__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 243px;
    min-height: 327px;
  }
  .navigation.active {
    right: 0;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 300px;
  }
  .header {
    padding: 15px 10px;
  }
  section {
    padding: 0px 10px;
  }
  .header__container {
    max-width: 280px;
  }
  .friend {
    min-height: 823px;
  }
  .friend__container {
    min-height: 673px;
  }
  .friend__puppy {
    left: 0;
    max-width: 260px;
    align-self: flex-end;
  }
  .friend__box {
    align-items: center;
    text-align: center;
    min-height: 296px;
    align-self: flex-start;
  }
  .friend__title {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 6%;
    font-weight: 400;
    max-width: 300px;
  }
  .friend__description {
    max-width: 300px;
  }
  .about {
    padding-top: 42px;
    padding-bottom: 42px;
    min-height: 974px;
  }
  .about__container {
    max-width: 300px;
    min-height: 890px;
    flex-direction: column-reverse;
  }
  .about__title {
    text-align: center;
    width: 100%;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 6%;
    font-weight: 400;
  }
  .about__image {
    max-width: 260px;
  }
  .about__content {
    min-height: 494px;
  }
}